tr > td {
    border: 1px solid #a2a9b1;
    padding: 0.2em 0.4em;
    align-self: center;
    
}

td {
    display: table-cell;
    vertical-align: inherit;
    /* text-align: left; */
}
.center {
    margin-left: auto;
    margin-right: auto;
  }

table {
    background-color: #f8f9fa;
}